.image1 {
  height: 200px;
  width: 380px;
  border: 5px black solid;
  display: inline-flex;
  margin: 10px;
}

.image2 {
  height: 200px;
  width: 380px;
  border: 5px black solid;
  display: inline-flex;
  margin: 10px;
}

.image3 {
  height: 200px;
  width: 380px;
  border: 5px black solid;
  display: inline-flex;
  margin: 10px;
}

.images img {
  width: 100%;
  height: 100%;
}

.images2 img {
  width: 100%;
  height: 100%;
}

.images3 img {
  width: 100%;
  height: 100%;
}

.image4 {
  height: 200px;
  width: 380px;
  border: 5px black solid;
  display: inline-flex;
  margin: 10px;
}

.image5 {
  height: 200px;
  width: 380px;
  border: 5px black solid;
  display: inline-flex;
  margin: 10px;
}

.image6 {
  height: 200px;
  width: 380px;
  border: 5px black solid;
  display: inline-flex;
  margin: 10px;
}

.image7 {
  height: 200px;
  width: 380px;
  border: 5px black solid;
  display: inline-flex;
  margin: 10px;
}

.image8 {
  height: 200px;
  width: 380px;
  border: 5px black solid;
  display: inline-flex;
  margin: 10px;
}

.image9 {
  height: 200px;
  width: 380px;
  border: 5px black solid;
  display: inline-flex;
  margin: 10px;
}
